*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    font-family: sans-serif;
    background-color:  green;
    }
.board{
    margin: 60px auto;
    border:2px solid white;
    border-radius: 4px;
    text-align: center;
    width: 30%;
    color:white;
    font-size: 30px;
    padding: 10px 20px;
    font-family: sans-serif;
    position: relative;
    }
header{
    background: white;
    padding: 20px;
    }
    header > h1 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
    }
.next{
    margin-right: auto;
    font-family: sans-serif;
  
}