.background {
    background-color: lightslategrey;
}

.ueberschriftenStyle{
   font-size: 40px;
   font-style: italic;
}


.styleAligen {
    text-align: center;
}

.styleAufgabe1 {
    margin: 60px auto;
    border:2px solid white;
    border-radius: 4px;
    text-align: center;
    color:white;
    font-size: 30px;
    padding: 10px 20px;
    font-family: sans-serif;
    position: relative;
    width: 30%;
}

.styleAufgabe2 {
    margin: 60px auto;
    border:2px solid white;
    border-radius: 4px;
    text-align: center;
    color:white;
    font-size: 30px;
    padding: 10px 20px;
    font-family: sans-serif;
    position: relative;
    width: 60%;
}

.styleAufgabe3 {
    margin: 60px auto;
    border:2px solid white;
    border-radius: 4px;
    text-align: center;
    color:white;
    font-size: 30px;
    padding: 10px 20px;
    font-family: sans-serif;
    position: relative;
    width: 60%;
}

.styleAufgabe4 {
    margin: 60px auto;
    border:2px solid white;
    border-radius: 4px;
    text-align: center;
    color:white;
    font-size: 30px;
    padding: 10px 20px;
    font-family: sans-serif;
    position: relative;
    width: 60%;
}

.styleAufgabe5 {
    margin: 60px auto;
    border:2px solid white;
    border-radius: 4px;
    text-align: center;
    color:white;
    font-size: 30px;
    padding: 10px 20px;
    font-family: sans-serif;
    position: relative;
    width: 60%;
}

.styleAufgabe6 {
    margin: 60px auto;
    border:2px solid white;
    border-radius: 4px;
    text-align: center;
    color:white;
    font-size: 30px;
    padding: 10px 20px;
    font-family: sans-serif;
    position: relative;
    width: 60%;
}

.styleAufgabe7 {
    margin: 60px auto;
    border:2px solid white;
    border-radius: 4px;
    text-align: center;
    color:white;
    font-size: 30px;
    padding: 10px 20px;
    font-family: sans-serif;
    position: relative;
    width: 60%;
}

.styleAufgabe8 {
    margin: 60px auto;
    border:2px solid white;
    border-radius: 4px;
    text-align: center;
    color:white;
    font-size: 20px;
    padding: 10px 20px;
    font-family: sans-serif;
    position: relative;
    width: 70%;
}

.inputstyleAufgabe2{
   margin-left: 360px;
   margin-right: auto;
}

.inputstyleAufgabe3{
    margin-left: 370px;
    margin-right: auto;
}

.inputstyleAufgabe4{
    margin-left: 370px;
    margin-right: auto;
}

.inputstyleAufgabe5{
    margin-left: 370px;
    margin-right: auto;
}

.inputstyleAufgabe6{
    margin-left: 370px;
    margin-right: auto;
}

.inputstyleAufgabe7{
    margin-left: 370px;
    margin-right: auto;
}

.inputstyleAufgabe8{
    margin-left: 370px;
    margin-right: auto;
    
}